name: TimeTree

on:
  push:
  # schedule:
  #   - cron: "0 3 * * 2"
  #   - cron: "0 3 * * 5"

jobs:
  build:
    name: Build + Publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby 2.6
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.0'
    - name: Install dependecies
      run: bundle install
    - name: run script
      env:
        TIMETREE_TOKEN: ${{ secrets.TIMETREE_TOKEN }}
        CALENDAR_ID: ${{ secrets.CALENDAR_ID }}
      run: |
        ruby lib/time_tree.rb